<!-- <h1>{{title}}</h1>
<h3>La base es: <strong>{{base}}</strong> </h3>
<button (click)="numero = numero+1;"> +1 </button>

<span> {{numero}} </span>

<button (click)="numero = numero-1;"> -1 </button>

<br>

<button (click)="sumar()"> Con metodo +1 </button>
<button (click)="restar()">Con metodo -1 </button>

<br>

<button (click)="acumular(+2)"> Con metodo argumentos +2</button>
<button (click)="acumular(-2)"> Con metodo argumentos -2</button>
<br>
<button (click)="acumular(base)"> Con metodo argumentos base {{base}}</button>
<button (click)="acumular(-base)"> Con metodo argumentos base {{base}}</button>


<br> -->

<app-contador></app-contador>

<!-- <app-heroe></app-heroe> -->


<app-listado></app-listado>


